<%var education=[
        {
            "name" : "Ramrao Adik Institute of Technology , Navi Mumbai",
            "image" : "/assets/images/rait1.png",
            "course" : "Bachelor's of Engineering - BE Computer Engineering",
            "performance" : ["9.70","10.00","9.70","9.56"]
        },
        {
            "name": "Delhi Public School , Moradabad",
            "image":"/assets/images/dps.png",
            "course" : "SSC, Science",
            "performance" : ["95.2%"]
        },
        {
            "name": "Delhi Public School , Moradabad",
            "image":"/assets/images/dps.png",
            "course" : "HSC, Science",
            "performance" : ["CGPA : 10"]
        }

]%>
<div class="container z-depth-5">
<ul class="collapsible" style="width:100%;">
    <li class="active">
        <div class="collapsible-header black"> <i class="material-icons white">school</i> <strong class="white-text"> Academics </strong></div> 
        <div class="collapsible-body white">
            <%include timeline.ejs%>
        </div>
       

    </li>

</ul>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems,{accordion:true});
  });
</script>
