<b> <h4 class="black-text center-align"><%=description['About me']['name']%></h4> </b>
          
<div class="card z-depth-5 hide-on-small-only">
    
        <div class="valign-wrapper">
          
            <div class="card-content col s6" id="descriptionCard" >
                <%=description['About me']['describe']%>
              <br> <br>   <strong>Student</strong> at: <a href="https://www.rait.ac.in/">Ramrao Adik Institute of Technology , Navi Mumbai (CSE Department) </a> 
              <br> <br>  <strong>Ex-Student</strong> of: <a href="https://www.dpsmbd.com/">Delhi Public School , Moradabad (PCM+IP) </a> 
              <br> <br> <strong>Ex-Student</strong> of: <a href="https://stmarysdhampur.com/">St. Mary's Convent Senior Secondary School , Dhampur </a> 
              <br> <br> <strong>Ex-Student</strong> of: <a href="https://mankhurd.kvs.ac.in/">Kendriya Vidyalaya , Mankhurd , Mumbai </a> 
            </div>
        <div class="card-image col s6">
                <img src="/assets/images/sid.jpg" alt="" class="responsive-img" >
            </div>
        </div>
</div>

<div class="card z-depth-5">
    <div class="card-image hide-on-med-and-up waves-effect waves-block waves-light">
        <img src="/assets/images/sid.jpg" alt="" class="responsive-img activator">
    </div>
    <div class="card-reveal" >
        <span class="card-title grey-text text-darken-4">About Me<i class="material-icons right">close</i></span>
        <p>
            <%=description['About me']['describe']%>
            <br> <br>   <strong>Student</strong> at: <a class="college_links" href="https://www.rait.ac.in/">Ramrao Adik Institute of Technology , Navi Mumbai (CSE Department) </a> 
            <br> <br>  <strong>Ex-Student</strong> of: <a class="college_links" href="https://www.dpsmbd.com/">Delhi Public School , Moradabad (PCM+IP) </a> 
            <br> <br> <strong>Ex-Student</strong> of: <a class="college_links" href="https://stmarysdhampur.com/">St. Mary's Convent Senior Secondary School , Dhampur </a> 
            <br> <br> <strong>Ex-Student</strong> of: <a class="college_links" href="https://mankhurd.kvs.ac.in/">Kendriya Vidyalaya , Mankhurd , Mumbai </a> 
          </p>
      </div>

</div>

<style>
  a.college_links:hover{
        color: red;
    }
</style>