<link rel="stylesheet" href="/assets/css/navbar.css">
<script>
 // setInterval(()=>{document.getElementById('pic').style.transform="180deg";console.log("yes")},2000)
</script>

<div class="navbar-fixed">
<nav class="black" >
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" onclick="gotoTop()" >
          <div >
            <img id="pic"  class="circle z-depth-5" alt="your Profile Photo, Image may contain: Siddharth Ramesh Chand Raja, smiling, sitting, eyeglasses and indoor" src="https://scontent-bom1-2.xx.fbcdn.net/v/t1.0-1/c0.0.160.160a/p160x160/46758271_2372459016325097_6378204340695334912_o.jpg?_nc_cat=106&amp;_nc_oc=AQnSBznlr7sh9OtJ_ONhBTAB6XL1KtUcsS70EXGzRXl7XuHGa_yOts7auyWVk2A0vkQ&amp;_nc_ht=scontent-bom1-2.xx&amp;oh=1ee1a03112e68d26358d4208d63d44c1&amp;oe=5E480F83">
          </div>
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
      <%var contents=['About me',
                    'Career Objective','Academics',
                    'Achievements','Certifications','Projects'];
        var description ={
          "About me":{
                        "name" : "Siddharth Raja",
                        "describe" : "Hi there, I am a learning programmer, who loves to deal with Algorithms and Data Structures . Currently hired as a web development intern at Indian Institute of Technology , Bombay. Competitive programming is what I love. First crush programming. Poetry is my life. Don't judge me for this. Competititve programming at top then development."
                    } 
          }
        contents.sort();
        console.log(description)  
      %>    

        <%for(var i=0;i<contents.length;i++){%>
                <li class="contents" ><a href="#<%=contents[i]%>"><%=contents[i]%></a></li>
        
            <%};%>
        </ul>
    </div>
  </nav>
</div>

  <%include parallax.ejs%>
 

  <ul class="black sidenav right-align" id="mobile-demo">
        <%for(var i=0;i<contents.length;i++){%>
                <li class="contents"><a class="white-text hoverable" href="#<%=contents[i]%>"><%=contents[i]%></a></li>
                <hr>
            <%};%>
   </ul>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
      });
  </script>


<script src="/assets/js/navbar.js"></script>