
<div class="parallax-container">
    <div class="parallax"> <img src="/assets/images/coffee.jpg" alt="" class="responsive-img" > </div>
  </div>
  <!--This is About me Section-->
  <div class="section"  id="About me" style="background: url(/assets/images/back_description.jpg);background-size:cover;" >
    <div class="row container">
           
        <!--   <div id="describe" class="container truncate  black-text scrollspy">
                <%=description['About me']['describe']%>
              </div>
             
          <center>  <button class="btn-floating material-icons red circle waves-effect center-align tooltipped" id="enlarge" data-position="right" data-tooltip="Click to view full description"  onclick="document.getElementById('describe').classList.remove('truncate'); document.getElementById('enlarge').style.display='none'; " >arrow_drop_down</button>  </center> -->
             <%include faceCard.ejs%>
    </div>
  </div>
<div class="parallax-container">
    <div class="parallax"><img src="/assets/images/homepage.jpg" class="responsive-img"></div>
</div>

  <!--This is Academics-->
<div class="section white black-text" id="Academics" style="height: fit-content;background:url(/assets/images/academics2.jpg);background-size:cover;">
  <%include education.ejs%>
</div>  



  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(elems, {});
      });

      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.tooltipped');
        var instances = M.Tooltip.init(elems, {});
      });
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.scrollspy');
        var instances = M.ScrollSpy.init(elems, {});
      });
  </script>