<div class="container center-align z-depth-5">
    <ul class="collapsible" style="width:100%;">
        <li class="active">
            <div class="collapsible-header black"> <i class="material-icons white">school</i> <strong class="white-text">Academics</strong>  </div> 
            <!--This view is for large devices-->
            <div class="collapsible-body white hide-on-small-only" style="border-left: solid black;border-right: solid black;border-bottom: solid black;border-top: solid black;"  >
                <ul class="collapsible popout expandable">
                        <!-- These are inner-collapsibles for displaying the Course Opted-->
                        <li>
                                <div class="collapsible-header black">
                                            <ol> 
                                              <li class="btn-floating btn-small waves-effect waves-light black black-text z-depth-5 white"> <strong> BE</strong></li> <span>  <strong class="white-text"> Bachelor's of Engineering (Computer Engineering) , Mumbai University <sup>2017-Present</sup>  </span></strong>
                                            </ol>    
    
                                </div>
                                <div class="collapsible-body" style="border-left: solid black;border-right: solid black;border-bottom: solid black;border-top: solid black;" >
    
    
                                </div>
                        </li>
    
                        <li>
                            <div class="collapsible-header black">
                                        <ol> 
                                            <li class="btn-floating btn-small waves-effect waves-light black black-text z-depth-5 white"> <strong> HSC</strong></li> <strong class="white-text"> Higher Secondary School Certificate , CBSE <sup>2016-2017</sup> </strong>
                                        </ol>    
    
                            </div>
                            <div class="collapsible-body" style="border-left: solid black;border-right: solid black;border-bottom: solid black;border-top: solid black;">
                                
    
                            </div>
                    </li>
    
                    <li>
                        <div class="collapsible-header black">
                                    <ol> 
                                        <li class="btn-floating btn-small waves-effect waves-light black black-text z-depth-5 white"> <strong> SSC</strong></li> <strong class="white-text"> Secondary School Examination , CBSE <sup>2015-2016</sup></strong>
                                    </ol>    
    
                        </div>
                        <div class="collapsible-body" style="border-left: solid black;border-right: solid black;border-bottom: solid black;border-top: solid black;">
                            
    
                        </div>
                </li>
                        
    
    
                </ul>
                
    
    
            </div>
           
    
        </li>
    
    </ul>
    </div>
    